.header {
  background-color: var(--color-primary-container);
  display: grid;
  grid-template-columns: auto 1fr auto;
  padding: 8px;
}

.headerRight {
  user-select: none;
}

.clickable {
  cursor: pointer;
}

.clickable:hover {
  text-decoration: underline;
}
